{% extends '@corredores/base.html.twig' %}

{% block menu %}

<ul>
<li>
<a href="{{ path('index') }}">{{'Portada'| trans}}<br/></a>
</li>
<li>
<a href="{{ path('carreras') }}">{{'Carreras'| trans}}<br/></a>
</li>
<li>
<a href="{{ path('corredor_carreras') }}">{{'Mis carreras'| trans}}<br/></a>
</li>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}   
<li>
<a href="{{ path('corredor_perfil') }}">{{ 'Mi perfil' | trans }}<br/></a>
</li>   
<li>
<a href="{{ path('logout') }}">{{'Cerrar sesión'| trans}}<br/></a>
</li>
{% else %}    
<li>
<a href="{{ path('corredor_login') }}">{{'Acceder'| trans}}<br/></a>
</li>
{% endif %}
</ul>

{% endblock %}